/* main styles */
body {
	font-family: Helvetica, Verdana, sans-serif;
	background: #2c1e00;
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
  padding-bottom: 2em;
}

a {
  color: #b17c0a;
}

/* navigation */
nav {
	font-size:22px;
	margin-bottom:36px;
}
nav a {
	color: #b17c0a;
	text-decoration:none;
}
nav a:hover {
	text-decoration:underline;
}
nav li {
	display:inline-block;
	margin-right:24px;
}

/* main content */
header img  {
  margin-top: 2em;
}
section#main {
  line-height: 1.5em;
  width: 800px;
  margin: auto;
  text-align: left;
}
section#main .screenshot  {
  position: relative;
  right: 50px;
}

/* footer */
footer {
  background: #3D2A00;
  color: #b17c0a;
  margin: 48px 0 0 0;
  padding: 1px 0 1px 0;
}
