@import url("normalize.css");

/* @group Boilerplate Overrides */
a, a:active, a:visited { color: #b17c0a; }
a:hover { color: #b17c0a; }

::-moz-selection{ background: #C5996E; color:#fff; text-shadow: none; }
::selection { background:#C5996E; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #C5996E; }

/* @end */

/* @group Page */

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	background: #2c1e00;
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
	padding-bottom: 2em;
}

a {
  color: #b17c0a;
}

nav {
	font-size:22px;
	margin-bottom:36px;
}

nav a {
	color: #b17c0a;
	text-decoration:none;
}

nav a:hover {
	text-decoration:underline;
}

nav li {
	display:inline-block;
	margin:0 14px;
}

header img  {
	margin-top: 2em;
}

p.big {
	font-family: museo,serif;
	font-size: 24px;
	line-height: 1.4em;
}

section#main {
	line-height: 1.5em;
	width: 800px;
	margin: auto;
	text-align: left;
}

section#main p {
	width: 720px;
	padding: 0 40px;
}

section ul li {
	background: url(../images/check.png) left no-repeat;
	list-style: none;
	padding-left: 25px;
	margin-bottom:5px
}

section#main .screenshot  {
	text-align: center;
	width:auto;
	padding: 0;
}

.notice {
	padding: 1em;
	background-color: #3A2A0B;
	border: 3px solid #1D1405;
	margin: 1em 40px;
	font-size: 18px
}

.notice p {
	width: auto !important;
	padding: 0 !important;
	margin: 0;
	text-align: center;
	font-style: italic;
	font-family: museo,serif;
}

.notice p a {
	font-weight:bold;
	font-style: normal;
	display: inline-block;
	margin-left: 4px;
}

footer {
	background: #3D2A00;
	color: #b17c0a;
	margin: 48px 0 0 0;
	padding: 1px 0 1px 0;
}

/* @end */