@import url("normalize.css");
@import url("form.css");

/* @group Boilerplate Overrides
----------------------------------------------- */
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #fE57A1; }

/* @end */

h1 {
	
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

body {
	
}

body > .container {
	width: 960px;
	margin: 0px auto;
}


/* @group Classes
----------------------------------------------- */
img.alignright {
	margin: 0 0 2px 10px;
	display: inline;
	border: 3px solid #376092;
}

img.alignleft {
	margin: 0 10px 2px 0;
	display: inline;
	border: 3px solid #376092;
}
/* @end */


/* @group Old Styles */

/* main styles */
body {
	font-family: Helvetica, Verdana, sans-serif;
	background: #2c1e00;
	color: white;
	text-align: center;
	margin: 0;
	padding: 0;
  padding-bottom: 2em;
}

a {
  color: #b17c0a;
}

/* navigation */
nav {
	font-size:22px;
	margin-bottom:36px;
}
nav a {
	color: #b17c0a;
	text-decoration:none;
}
nav a:hover {
	text-decoration:underline;
}
nav li {
	display:inline-block;
	margin-right:24px;
}

/* main content */
header img  {
  margin-top: 2em;
}
section#main {
  line-height: 1.5em;
  width: 800px;
  margin: auto;
  text-align: left;
}
section#main .screenshot  {
  position: relative;
  right: 50px;
}

/* footer */
footer {
  background: #3D2A00;
  color: #b17c0a;
  margin: 48px 0 0 0;
  padding: 1px 0 1px 0;
}

/* @end */


